<!--Aqui va el div que solo se muestra despues 3072px de ancho-->
<div class="absolute hidden 8xl:block w-[100%] h-[1000px] bg-[#9CD480]"></div>
<!--Aqui termina el div que solo se muestra despues 3072px de ancho-->

<!--Aqui va el banner principal-->
<div
  class="flex flex-row text-center md:text-left bg:flex-col md:flex-row mt-8 relative px-8 sm:px-20 md:px-12 lg:px-20 xl:px-32 7xl:px-64"
>
<!--Aqui va el articulo que ocupa el 70% del ancho-->
  <article class="bg:w-full bg:max-w-full md:w-70% md:max-w-[70%]">
  <!--Aqui va la sección del titulo principal-->  
    <section
      class="max-h-[45%] left-0 right-0 mx-auto z-50 mt-3 sm:mt-10 md:mt-10 lg:mt-23 xl:mt-20 7xl:mt-40"
    >
      <p
        class="font-Blinker bg:text-[9vw]/[0.9] md:text-[7vw]/[0.7] 8xl:text-[2vw]/[0.9]  text-lime-50 font-[900] font-blinker"
      >
        ¡Pertenece a la
      </p>
      <p
        class="font-Blinker bg:text-[9vw]/[0.9] md:text-[7vw]/[0.7] 8xl:text-[2vw]/[0.9] text-lime-600 font-[900] font-blinker"
      >
        mejor plataforma<br />
      </p>
      <p
        class="font-Blinker bg:text-[9vw]/[0.9] md:text-[7vw]/[0.7] 8xl:text-[2vw]/[0.9]  text-lime-50 font-[900] font-blinker"
      >
        de turismo del Huila hoy mismo!
      </p>
    </section>
  <!--Aqui termina la sección del titulo principal-->
  <!--Aqui el parrafo descriptivo del titulo principal-->  
    <section class="max-h-[20%]  bg:mt-[2.7vw] md:mt-[3vw] 4xl:mt-[3vw] 5xl:mt-[3.7vw] 8xl:mt-[0.4vw] leading-3">
      <span
        class="font-Josefin text-lime-50 bg:text-[4vw]/[1.1] md:text-[1.7vw]/[1.1] 8xl:text-[1vw]/[0.9] font-blinker leading-none"
        >Descubre el encanto del Huila con nuestra app de turismo. Descárgala gratis y disfruta de guías, recomendaciones y actividades emocionantes. Sin costos ni condiciones, aumenta tu visibilidad y reconocimiento con CenturHuila. ¡Descárgala ahora y vive experiencias inolvidables en el Huila!</span
      >
    </section>
  <!--Aqui el parrafo descriptivo del titulo principal--> 
  <!--Aqui va las dos insignias de descarga (Play store & AppStore)-->   
    <section class="flex flex-row  bg:justify-center md:justify-start  max-h-[25%] mt-[1vw] 8xl:mt-[1vw]s " >

      <a  href="https://play.google.com/store/apps/details?id=com.ycjn.centurhuila&hl=es_CO&gl=US" target="_blank">
        <img class="bg:h-10 xs:h-14 sm:h-50 md:h-10 md2:h-12 lg:h-14 2xl:h-16 3xl:h-24 6xl:h-32" src="GooglePlay.svg" loading="lazy"> 
      </a>
      <div class="mx-2"></div>
      <a  href="https://apps.apple.com/co/app/centurhuila-3-0/id1598598341" target="_blank">
        <img class="bg:h-10 xs:h-14 sm:h-50 md:h-10 md2:h-12 lg:h-14 2xl:h-16 3xl:h-24 6xl:h-32" src="Ios.svg" loading="lazy"> 
      </a>

    </section>
  <!--Aqui termina las dos insignias de descarga (Play store & AppStore)-->  
  </article>
<!--Aqui termina el articulo que ocupa el 70% del ancho-->

<!--Aqui va el telefonocroma con la captura de pantalla y el articulo que ocupa el 30% del ancho-->
  <article class="flex bg:w-full md:max-w-[30%] content-center  justify-center bg:-rotate-6 md:rotate-0">
    <img class="mt-10" src="Wire.png" loading="lazy"/>
  </article>
<!--Aqui termina el telefonocroma con la captura de pantalla y el articulo que ocupa el 30% del ancho-->

<!--Aqui va el svg horizontal para pantallas que no son de mobiles-->
  <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" class="absolute left-0 right-0 mx-auto -z-50 block 8xl:hidden"
     
  width="95%" viewBox="0 0 1235.94 566.58">
  <defs>
    <style>
      .cls-1 {
        fill: #65a30d;
      }

      .cls-2 {
        fill: #9cd480;
      }

      .cls-3 {
        fill: #54820b;
      }

      .cls-4 {
        stroke: #65a30d;
        stroke-miterlimit: 10;
        stroke-width: 13px;
      }

      .cls-4, .cls-5 {
        fill: none;
      }

      .cls-6 {
        fill: #87ce17;
      }

      .cls-5 {
        opacity: .33;
      }
    </style>
  </defs>
  <path class="cls-2" d="m1.33,476.58V90C1.33,40.29,41.62,0,91.33,0h1048c49.71,0,90,40.29,90,90v314.29c0,47.3-36.62,86.53-83.81,89.79L97.52,566.36c-52.02,3.59-96.19-37.64-96.19-89.79Z"/>
  <g id="Bushes" class="cls-5">
    <path class="cls-3" d="m668.17,526.53l-65.99,4.47c2.18-14.15,15.06-25.57,31.34-26.67s30.58,8.47,34.65,22.2Z"/>
    <path class="cls-3" d="m571.61,511.41c1.2,11.4,11.1,19.86,22.54,19.28-1.2-11.4-11.1-19.86-22.54-19.28Z"/>
    <circle class="cls-6" cx="596.09" cy="495.34" r="6.58"/>
    <path class="cls-1" d="m353.84,531.49l1.15,17.03c-135.71,8.17-232.26,14.35-251.34,17.03-3.25.46-15.21,2.35-30.16-.74-8.17-1.69-14.62-4.33-18.85-6.33-15.37-4.97-24.19-13.2-28.29-17.68-6.26-6.83-9.76-13.89-13.14-20.72-4.82-9.72-7.17-17.82-8.08-21.22-2.86-10.64-3.41-19.06-3.8-26.27C-.4,440.58.04,414.67.07,412.97c.48-25.4.72-38.11,1.26-39.91,8.88-29.89,46.41-52.16,78.31-53.89,44.94-2.43,91.69,35.23,107.68,93.96l1.12,16.6c.7,10.19-.15,20.42-2.52,30.36l79.93-5.42c5.49-.37,34.72-1.8,59.91,20.19,25.19,21.99,27.72,51.15,28.09,56.64Z"/>
    <path class="cls-3" d="m120.31,533.54c-1.01,12.87,8.23,24.29,21.03,25.98,1.01-12.87-8.23-24.29-21.03-25.98Z"/>
    <path class="cls-3" d="m167.31,531.4c-12.61,2.77-20.85,14.93-18.75,27.67,12.61-2.77,20.85-14.93,18.75-27.67Z"/>
    <path class="cls-3" d="m14.05,429.01c-8.23,9.95-7.24,24.6,2.26,33.35,8.23-9.95,7.24-24.6-2.26-33.35Z"/>
    <path class="cls-3" d="m49.84,456.44c-11.91-4.99-25.64.22-31.26,11.85,11.91,4.99,25.64-.22,31.26-11.85Z"/>
    <path class="cls-3" d="m289.87,470.18c-12.91.04-23.54,10.18-24.18,23.07,12.91-.04,23.54-10.18,24.18-23.07Z"/>
    <circle class="cls-6" cx="144.24" cy="524.93" r="6.18" transform="translate(-35.16 10.95) rotate(-3.88)"/>
    <circle class="cls-6" cx="96.45" cy="363.71" r="6.18" transform="translate(-24.37 7.35) rotate(-3.88)"/>
    <circle class="cls-6" cx="31.31" cy="442.8" r="6.18" transform="translate(-29.87 3.13) rotate(-3.88)"/>
    <circle class="cls-6" cx="49.84" cy="534.8" r="6.18" transform="translate(-36.04 4.59) rotate(-3.88)"/>
    <circle class="cls-6" cx="301.33" cy="540.97" r="6.18" transform="translate(-35.89 21.61) rotate(-3.88)"/>
    <path class="cls-1" d="m1230.14,339.96c.17,16.16.13,30.45,0,42.44-.28,26.25-.97,35.06-4.07,45.94-3.25,11.41-8.01,20.06-11.37,25.4-6.65,9.05-17.72,21.59-34.66,30.82-16.28,8.88-33.79,10.13-68.14,12.28-91.88,5.73-113.31,6.73-115.2,6.82-20.45.96-37.05,1.77-47.35,2.29-.54-8.1-1.07-16.2-1.61-24.3-2.29-34.68,23.96-64.64,58.63-66.94l76.02-5.03c-1.66-5.62-2.69-11.41-3.08-17.26l-2.03-30.76c-2.34-46.34,33.54-84.36,74.94-85.54,35.62-1.01,69.4,25.42,77.92,63.82Z"/>
    <path class="cls-3" d="m1192.49,415.37c10.12,9.36,11.15,25,2.35,35.61-10.12-9.36-11.15-25-2.35-35.61Z"/>
    <path class="cls-3" d="m1154.1,447.79c11.9-6.96,27.16-3.41,34.76,8.09-11.9,6.96-27.16,3.41-34.76-8.09Z"/>
    <path class="cls-3" d="m1037.63,375.15c16.41-2.14,31.62,8.92,34.65,25.18-16.4,2.13-31.61-8.93-34.65-25.18Z"/>
    <circle class="cls-6" cx="1163.65" cy="417.28" r="11.53" transform="translate(-24.99 77.68) rotate(-3.78)"/>
    <circle class="cls-6" cx="1000.11" cy="473.56" r="11.53"/>
    <path class="cls-4" d="m1172.2,201.65c1.35,9.97,2.21,21.08,2.67,32.98"/>
    <path class="cls-4" d="m1131.81,157.09c5.91-3.86,11.67-5.6,17.33-3.95,5.88,1.72,10.56,6.77,14.25,14.44"/>
    <path class="cls-4" d="m1076.08,212.1c12.01-9.22,23.09-22.41,33.53-34.03"/>
    <path class="cls-4" d="m1022.63,213.74c5.98,5.46,12.78,9.04,20.78,9.88,1.02.11,2.03.17,3.04.18"/>
    <path class="cls-4" d="m999.57,178.07c2.71,5.89,5.54,11.55,8.57,16.76"/>
    <path class="cls-4" d="m981.49,136.36c3.45,7.44,6.73,15.33,10.04,23.2"/>
    <path class="cls-4" d="m945.39,94.68c7.89,2.1,14.49,7.33,20.29,14.54"/>
    <path class="cls-4" d="m890.68,122.81c8.53-9.5,17.08-17.29,25.59-22.42"/>
    <path class="cls-4" d="m846.64,182.63c8.22-12.33,16.52-24.61,24.85-35.93"/>
    <path class="cls-4" d="m809.11,237.07c5.1-6.7,10.26-13.96,15.47-21.53"/>
    <path class="cls-4" d="m767.04,275.17c7.46-2.46,15.12-8.05,22.96-15.82"/>
    <path class="cls-4" d="m731.64,247.27c5.12,9.41,7.85,16.79,11.66,21.81"/>
    <path class="cls-4" d="m704.45,212.1c1.22,1.18,2.42,2.37,3.59,3.57,3.8,3.89,7.1,7.62,9.98,11.19"/>
    <path class="cls-4" d="m661.69,181.08c8.19,4.35,16.03,9.31,23.37,14.7"/>
    <path class="cls-4" d="m592.84,162.34c13.26.04,26.59,2.36,39.54,6.4"/>
    <path class="cls-4" d="m523.24,189.03c11.06-7.68,19.56-13.36,27.72-17.48"/>
    <path class="cls-4" d="m478.72,219.82c7.18-4.93,14.65-10.08,22.42-15.44"/>
    <path class="cls-4" d="m414.72,262.48c11.36-7.16,23.64-15.26,37.02-24.28"/>
    <path class="cls-4" d="m331.67,301.11c10.99-1.89,22.77-5.94,35.95-12.1"/>
    <path class="cls-4" d="m268.82,290.44c7.8,3.52,15.81,6.34,23.76,8.37"/>
    <path class="cls-4" d="m215.08,249.25c6.43,8.39,14.34,16.12,23.18,22.92"/>
    <path class="cls-4" d="m197.73,205.55c.33,4.48.98,8.99,2.14,13.52.7,2.72,1.56,5.42,2.58,8.07"/>
    <path class="cls-4" d="m199.41,161.37c-.11,10.21-1.42,20.46-1.82,30.81"/>
    <path class="cls-4" d="m184.6,115.37c.94,1.16,1.87,2.38,2.78,3.67,4.49,6.34,7.4,12.66,9.23,18.96"/>
    <path class="cls-4" d="m140.09,88.13c7.83,1.78,15.73,4.74,23.41,9.3,1.05.63,2.49,1.49,4.19,2.62"/>
    <path class="cls-4" d="m68,97.43c4.38-2.02,24.6-11,49.15-11.53"/>
  </g>
</svg>
<!--Aqui termina el svg horizontal para pantallas que no son de mobiles-->

<!--Aqui va el svg vertical para pantallas mobiles-->
  <svg
    class="block md:hidden absolute left-0 right-0 mx-auto -z-50"
    xmlns="http://www.w3.org/2000/svg"
    width="95%"
    viewBox="0 0 323.15 421.82"
    fill="none"
  >
   <defs><style>.cls-1{fill:#65a30d;}.cls-2{fill:#9cd480;}.cls-3{fill:#54820b;}.cls-4{stroke:#65a30d;stroke-miterlimit:10;stroke-width:9px;}.cls-4,.cls-5{fill:none;}.cls-6{fill:#87ce17;}.cls-5{opacity:.33;}</style></defs><path class="cls-2" d="m0,405.69V16.12C0,7.22,7.22,0,16.12,0h290.91c8.9,0,16.12,7.22,16.12,16.12v332.98c0,7.72-5.47,14.35-13.04,15.83L19.2,421.52c-9.95,1.94-19.2-5.69-19.2-15.83Z"/><g id="Bushes" class="cls-5"><path class="cls-3" d="m178.11,373.14l-16.52,1.12c.55-3.54,3.77-6.4,7.84-6.68,4.08-.28,7.65,2.12,8.67,5.56Z"/><path class="cls-3" d="m153.94,369.36c.3,2.85,2.78,4.97,5.64,4.83-.3-2.85-2.78-4.97-5.64-4.83Z"/><circle class="cls-6" cx="160.07" cy="365.33" r="1.65"/><path class="cls-1" d="m198.79,375.76l1.71,9.11c-92.64,16.52-125.52,23.01-134.35,25.29-1.26.33-7.73,2.04-16.64,3.82-7.1,1.41-12.88,2.29-16.41,2.78-4.11.7-8.45,1.33-13,1.82-2.99.33-5.9.58-8.72.77-1.55-.38-3.86-1.19-5.9-3.08-2.92-2.7-3.97-6.37-4.62-12.32-.79-7.31-.22-11.15,0-18.99.22-7.74-.25-6.88-.26-19.25,0-8.61.23-7.75.39-19.63.11-8.16.22-17.64-.13-30.02-.25-8.63-.42-8.1-.26-9.11,2.33-14.62,22.77-25.85,36.82-28.03,22.94-3.56,48.99,13.9,64.05,43.73l1.67,8.87c1.03,5.44,1.23,11.01.59,16.52l42.72-8.04c2.93-.55,18.59-3.2,33.58,7.04,14.98,10.24,18.21,25.79,18.77,28.72Z"/><path class="cls-3" d="m21.4,384.56c-.74,9.47,6.06,17.87,15.48,19.12.74-9.47-6.06-17.87-15.48-19.12Z"/><path class="cls-3" d="m49.48,388.36c-7.15,1.57-11.81,8.46-10.63,15.68,7.15-1.57,11.81-8.46,10.63-15.68Z"/><path class="cls-3" d="m17.36,294.62c-5.52,6.68-4.86,16.51,1.52,22.38,5.52-6.68,4.86-16.51-1.52-22.38Z"/><path class="cls-3" d="m41.38,313.02c-7.99-3.35-17.21.15-20.98,7.95,7.99,3.35,17.21-.15,20.98-7.95Z"/><path class="cls-3" d="m107.13,336.37c-15.89.05-28.96,12.52-29.75,28.39,15.89-.05,28.96-12.52,29.75-28.39Z"/><circle class="cls-6" cx="38.05" cy="387.75" r="4.5" transform="translate(-26.13 3.46) rotate(-3.88)"/><circle class="cls-6" cx="45.71" cy="296.09" r="2.81" transform="translate(-19.91 3.77) rotate(-3.88)"/><circle class="cls-6" cx="28.94" cy="303.87" r="4.15" transform="translate(-20.48 2.65) rotate(-3.88)"/><circle class="cls-6" cx="24.52" cy="373.86" r="2.81" transform="translate(-25.22 2.51) rotate(-3.88)"/><circle class="cls-6" cx="86.29" cy="376.76" r="1.55" transform="translate(-25.28 6.7) rotate(-3.88)"/><path class="cls-1" d="m320.95,327.92c-.32,4.52-.18,8.14,0,10.62.1,1.34.59,7.46-.16,11.97-.1.61-.26,1.42-.58,2.37,0,0-.78,2.38-2.37,4.55-3.08,4.21-9.42,6.67-9.42,6.67-5.71,2.22-8.83,1.96-17.05,3.07-6.21.84-3.49.86-19.26,3.72-4.64.84-9.37,1.65-16.49,3.14-2.15.45-3.91.83-5.07,1.09-.69-2.47-1.48-6.77-.27-11.76,2.72-11.21,13.17-16.08,14.68-16.75l19.03-1.26c-.41-1.41-.67-2.86-.77-4.32l-.51-7.7c-.59-11.6,8.39-21.11,18.76-21.41,8.92-.25,17.37,6.36,19.5,15.97Z"/><path class="cls-3" d="m308.95,340.56c4.8,4.44,5.29,11.87,1.12,16.91-4.8-4.44-5.29-11.87-1.12-16.91Z"/><path class="cls-3" d="m290.73,355.95c5.65-3.31,12.89-1.62,16.5,3.84-5.65,3.31-12.89,1.62-16.5-3.84Z"/><path class="cls-3" d="m270.59,335.25c4.11-.54,7.92,2.23,8.67,6.3-4.11.53-7.91-2.23-8.67-6.3Z"/><ellipse class="cls-6" cx="294.48" cy="341.52" rx="4.69" ry="5.47" transform="translate(-21.89 20.17) rotate(-3.78)"/><circle class="cls-6" cx="261.2" cy="359.88" r="2.89"/><path class="cls-4" d="m300.46,178.17c4.08,2.94,7.72,6.01,10.9,8.94"/><path class="cls-4" d="m287.72,170.37c4.64,2.35,8.89,5.02,12.74,7.8"/><path class="cls-4" d="m252.59,161.81c3.34-.02,6.77.19,10.27.67,2.29.31,4.51.73,6.68,1.23"/><path class="cls-4" d="m218.6,169.66c5.69-2.5,11.64-4.59,17.87-5.98"/><path class="cls-4" d="m169.89,197.36c7.52-3.68,15.51-8.94,24.13-14.28"/><path class="cls-4" d="m128.04,185.96c3.54,6.42,8.21,11.49,13.96,14.24.66.32,1.32.59,1.98.84"/><path class="cls-4" d="m120.48,142.07c-.85,7.18-.68,14.77.46,22.06"/><path class="cls-4" d="m131.02,114.14c-2.98,4.2-5.64,9.01-7.57,14.62"/><path class="cls-4" d="m152.48,75.42c2.08,1.58,3.51,3.38,4.15,5.46,1.73,5.7-3.45,10.5-10.41,16.92"/><path class="cls-4" d="m99.68,64.78c10.62.6,21.52,1.5,30.92,3.14"/><path class="cls-4" d="m44.49,63.98c8.22.4,17.96-.31,29.5-.23"/><path class="cls-4" d="m14.97,12.37c-2.11,12.34-2.98,27.75,3.58,38.65"/></g></path>
  </svg>
<!--Aqui termina el svg vertical para pantallas mobiles-->
</div>

<!--Aqui termina el banner principal-->
