<!--Aqui va el banner principal-->
<div
  class="relative flex flex-row gap-0 justify-center text-center md:text-left bg:flex-col bg-[#9CD480] mx-2 rounded-3xl md:flex-row mt-8 bg:px-5 xs2:px-16 md:px-6 md1:px-20 overflow-hidden"
>
  <div
    class="relative flex flex-col md:flex-row bg:w-full xl:w-[1280px] mx-auto z-40"
  >
    <article class="bg:w-full md:max-w-[68%] my-auto">
      <!--Aqui va la sección del titulo principal-->
      <section class="max-h-[45%] left-0 right-0 mx-auto z-50">
        <p
          class="font-Blinker bg:text-4xl/[0.9] bg:mt-10 md:text-5xl/[0.8] lg:text-6xl/[0.8] xl:text-7xl/[0.9] 2x:text-9xl/[0.9] xs1:text-6xl/[0.8] sm:text-5xl/[0.9] md:mt-10 text-lime-50 font-[900] font-blinker"
        >
          ¡Pertenece a la <strong class="text-lime-700">mejor plataforma</strong
          > de turismo del Huila hoy mismo!
        </p>
      </section>
      <!--Aqui termina la sección del titulo principal-->
      <!--Aqui el parrafo descriptivo del titulo principal-->
      <section class="max-h-[20%] mt-5 leading-3">
        <span
          class="font-Josefin text-lime-50 bg:text-base/[0.9] sm:text-xl/[0.9] xl:text-2xl/[0.9] font-blinker leading-none"
          >Descubre el encanto del Huila con nuestra app de turismo. Descárgala
          gratis y disfruta de guías, recomendaciones y actividades
          emocionantes. Sin costos ni condiciones, aumenta tu visibilidad y
          reconocimiento con CenturHuila. ¡Descárgala ahora y vive experiencias
          inolvidables en el Huila!</span
        >
      </section>
      <!--Aqui el parrafo descriptivo del titulo principal-->
      <!--Aqui va las dos insignias de descarga (Play store & AppStore)-->
      <section
        class="flex flex-row bg:justify-center md:justify-start max-h-[25%] mt-5"
      >
        <a
          href="https://play.google.com/store/apps/details?id=com.ycjn.centurhuila&hl=es_CO&gl=US"
          target="_blank"
        >
          <img
            width="?"
            height="?"
            class="bg:h-10 xs:h-14 sm:h-50 md:h-10 md2:h-12 lg:h-14 xl:h-20"
            src="GooglePlay.svg"
            loading="lazy"
            alt="Descargar en Google Play"
          />
        </a>
        <div class="mx-2"></div>
        <a
          href="https://apps.apple.com/co/app/centurhuila-3-0/id1598598341"
          target="_blank"
        >
          <img
            class="bg:h-10 xs:h-14 sm:h-50 md:h-10 md2:h-12 lg:h-14 xl:h-20"
            src="Ios.svg"
            loading="lazy"
            alt="Descargar en App Store"
          />
        </a>
      </section>
      <!--Aqui termina las dos insignias de descarga (Play store & AppStore)-->
    </article>
    <!--Aqui termina el articulo que ocupa el 70% del ancho-->

    <!--Aqui va el telefonocroma con la captura de pantalla y el articulo que ocupa el 30% del ancho-->
    <article
      class="flex content-center justify-center bg:-rotate-6 md:rotate-0 md:max-w-[28%] mx-auto"
    >
      <img
        class="mt-10  bg:w-96  "
        width="20px"
        src="Wire.webp"
        loading="lazy"
        alt="Mockup1"
      />
    </article>
  </div>
  <!--Aqui va el articulo que ocupa el 70% del ancho-->
  <!--Aqui termina el telefonocroma con la captura de pantalla y el articulo que ocupa el 30% del ancho-->

  <!--Aqui va el svg horizontal para pantallas que no son de mobiles-->

  <!--Aqui termina el svg horizontal para pantallas que no son de mobiles-->

  <!--Aqui va el svg vertical para pantallas mobiles-->
  <div class="flex flex-col md:flex-row my-auto -z-0">
    
    <img
          class="absolute w-[2000px] bottom-1 right-0"
          src="Grandes.svg"
          loading="lazy"
          alt="Lineas"
        />
        
        <img
        class="absolute w-[2000px] rotate-45 bottom-1 left-0"
        src="Grandes.svg"
        loading="lazy"
        alt="Lineas2"
      />
  </div>

</div>
<!--Aqui termina el svg vertical para pantallas mobiles-->

<!--Aqui termina el banner principal-->
