<!-- Tipo: Comienzo del componente footer. Descripción: Pie de página del sitio web. -->
<footer class="">
  <!-- Tipo: Contenedor principal del pie de página. Descripción: Contiene los elementos del pie de página. -->
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-10">
    <!-- Tipo: Contenedor flexible. Descripción: Contiene elementos del pie de página alineados en una fila en pantallas medianas y grandes. -->
    <div class="md:flex md:justify-between">
      <!-- Tipo: Contenedor del logo y el texto del sitio. Descripción: Contiene el logo del sitio y el nombre "CenturHuila". -->
      <div class="mb-6 md:mb-0">
        <!-- Tipo: Enlace al inicio del sitio con logo. Descripción: Enlace al inicio del sitio con el logo del sitio al lado. -->
        <a href="#" class="h-[20%] flex items-center">
          <span
            class="self-center bg:text-2xl md:text-3xl font-black whitespace-nowrap text-primary-500"
            >CenturHuila</span
          >
          <img
            src="centurhuila.svg"
            class="h-8 mr-3"
            alt="CenturHuilaLogo"
            loading="lazy"
          />
        </a>
        <!-- Tipo: Contenedor de información sobre el proyecto. Descripción: Contiene información sobre el proyecto de investigación y el logo de SENNOVA. -->
        <div class="flex-col bg:text-center lg:text-start">
          <span
            class="h-[20%] self-center bg:text-sm xs:text-xs lg:text-xl font-medium whitespace-nowrap text-gray-500 w-3/5"
            >Proyecto de investigación desarrollado por:</span
          >
          <div class="h-[60%]">
            <img
              src="SENNOVA.webp"
              class="bg:w-[77vw] md:w-[22vw] 5xl:w-[10vw] 8xl:w-[6vw] bg:mx-auto md:mx-0"
              alt="SennovaLogo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <!-- Tipo: Contenedor del menú de enlaces. Descripción: Contiene una lista de enlaces agrupados en 4 columnas. -->
      <div
        class="grid grid-cols-2 gap-8 justify-center bg:text-center md:text-left md:grid-cols-4 md:gap-0"
      >
        <!-- Tipo: Columna de enlaces de información. Descripción: Contiene enlaces de información sobre el sitio. -->
        <div class="mx-auto w-11/12">
          <h2
            class="mb-6 text-sm font-black text-gray-600 uppercase dark:text-white"
          >
            Información
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="/AboutUs" class="hover:underline">Acerca de nosotros</a>
            </li>
            <li>
              <a href="#contactenos" class="hover:underline">Contáctenos</a>
            </li>
          </ul>
        </div>
        <!-- Tipo: Columna de enlaces a redes sociales. Descripción: Contiene enlaces a las redes sociales del sitio. -->
        <div class="mx-auto w-11/12">
          <h2
            class="mb-6 text-sm font-black text-gray-600 uppercase dark:text-white"
          >
            ¡Síguenos!
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://www.sena.edu.co/"
                target="_blank"
                class="hover:underline">SENA</a
              >
            </li>
            <li>
              <a
                href="http://sennova.senaedu.edu.co/"
                target="_blank"
                class="hover:underline">SENNOVA</a
              >
            </li>
          </ul>
        </div>
        <!-- Tipo: Columna de enlaces legales. Descripción: Contiene enlaces legales como "Política de privacidad" y "Términos y condiciones". -->
        <div class="mx-auto w-11/12">
          <h2
            class="mb-6 text-sm font-black text-gray-600 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Política de privacidad</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Términos y condiciones</a>
            </li>
          </ul>
        </div>
        <!-- Tipo: Columna de enlaces de descargas. Descripción: Contiene enlaces de descargas para Android e iOS. -->
        <div class="mx-auto w-11/12">
          <h2
            class="mb-6 text-sm font-black text-gray-600 uppercase dark:text-white"
          >
            Descargas
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://play.google.com/store/apps/details?id=com.ycjn.centurhuila&hl=es_CO&gl=US"
                target="_blank"
                class="hover:underline">Android</a
              >
            </li>
            <li>
              <a
                href="https://apps.apple.com/co/app/centurhuila-3-0/id1598598341"
                target="_blank"
                class="hover:underline">iOS</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Tipo: Línea divisoria. Descripción: Línea que separa el contenido del pie de página del resto de la página. -->
    <hr
      class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-[10%]"
    />
    <!-- Tipo: Contenedor de derechos de autor y redes sociales. Descripción: Contiene información de derechos de autor y enlaces a redes sociales. -->
    <div
      class="sm:flex sm:items-center sm:justify-between font-bold bg:text-center lg:text-start"
    >
      <!-- Tipo: Texto de derechos de autor. Descripción: Información sobre derechos de autor y enlace al sitio web del SENA. -->
      <span
        class="bg:text-sm sm:text-lg md:text-xl text-gray-500 sm:text-center dark:text-gray-400"
        >© 2023 <a href="https://sena.edu.co" class="hover:underline">SENA</a>.
        Todos los derechos reservados.</span
      >
      <!-- Tipo: Contenedor de enlaces a redes sociales. Descripción: Contiene enlaces a redes sociales como Facebook, Instagram, Twitter y TikTok. -->
      <div
        class="flex space-x-5 px-auto bg:justify-center lg:justify-normal bg:mt-[10%] md:mt-0"
      >
        <a
          href="https://www.facebook.com/centurhuila"
          target="_blank"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="w-7 h-7"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 8 19"
          >
            <path
              fill-rule="evenodd"
              d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Página de Facebook</span>
        </a>
        <a
          href="https://www.instagram.com/centurhuila/"
          target="_blank"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="w-7 h-7"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
            ></path>
          </svg>
          <span class="sr-only">Página de Instagram</span>
        </a>
        <a
          href="https://twitter.com/centurhuila"
          target="_blank"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="w-7 h-7"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 17"
          >
            <path
              fill-rule="evenodd"
              d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Página de Twitter</span>
        </a>
        <a
          href="https://www.tiktok.com/@centurhuila"
          target="_blank"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            class="w-7 h-7"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 512 512"
          >
            <path
              d="M412.19,118.66a109.27,109.27,0,0,1-9.45-5.5,132.87,132.87,0,0,1-24.27-20.62c-18.1-20.71-24.86-41.72-27.35-56.43h.1C349.14,23.9,350,16,350.13,16H267.69V334.78c0,4.28,0,8.51-.18,12.69,0,.52-.05,1-.08,1.56,0,.23,0,.47-.05.71,0,.06,0,.12,0,.18a70,70,0,0,1-35.22,55.56,68.8,68.8,0,0,1-34.11,9c-38.41,0-69.54-31.32-69.54-70s31.13-70,69.54-70a68.9,68.9,0,0,1,21.41,3.39l.1-83.94a153.14,153.14,0,0,0-118,34.52,161.79,161.79,0,0,0-35.3,43.53c-3.48,6-16.61,30.11-18.2,69.24-1,22.21,5.67,45.22,8.85,54.73v.2c2,5.6,9.75,24.71,22.38,40.82A167.53,167.53,0,0,0,115,470.66v-.2l.2.2C155.11,497.78,199.36,496,199.36,496c7.66-.31,33.32,0,62.46-13.81,32.32-15.31,50.72-38.12,50.72-38.12a158.46,158.46,0,0,0,27.64-45.93c7.46-19.61,9.95-43.13,9.95-52.53V176.49c1,.6,14.32,9.41,14.32,9.41s19.19,12.3,49.13,20.31c21.48,5.7,50.42,6.9,50.42,6.9V131.27C453.86,132.37,433.27,129.17,412.19,118.66Z"
            ></path>
          </svg>
          <span class="sr-only">Cuenta de TikTok</span>
        </a>
        <a
          href="mailto:info@centurhuila.com.co"
          target="_blank"
          class="w-7 h-7 text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail"
            ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
              d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </svg>
          <span class="sr-only">Cuenta de correo electrónico</span>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Tipo: Fin del componente footer. -->
