<section
  class="bg-white"
  id="contactenos"
>
  <!-- ?Fondo verde oscuro en forma de elipse -->
  <div
    class="bg-primary-500 pt-24 pb-24 "
    style="clip-path: ellipse(80% 100% at center top)"
  >

  <div class="xl:w-[1280px]  mx-auto flex flex-col ">

      <h1 class="text-center font-Blinker font-black text-primary-100 bg:text-5xl xl:text-6xl 4xl:text-8xl">¡Anímate a contactarnos!</h1>
      <hr class="border-primary-200 opacity-100 border-4 w-[80%] mx-auto my-0">
      <div class="flex ">


    <form action="https://api.web3forms.com/submit" class="mt-10 mx-auto xl:w-[1280px] bg:w-full px-10">

      <!-- This is a working contact form.
           Get your free access key from: https://web3forms.com/  -->

        <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE" />
        <div class="grid xl:grid-col-3">
          <div class="relative z-0 mr-5">
            <input type="text" name="name" class="peer block w-full bg-white  border-0 border-b  rounded-md border-white  py-2.5 px-3 text-base font-semibold focus:placeholder:text-white text-white focus:outline-none focus:ring-0 drop-shadow-2xl" placeholder="Tu nombre" />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-white font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75 ">Tu nombre</label>
          </div>
          <div class="relative z-0 ml-5">
            <input type="text" name="email" class="peer block w-full appearance-none border-0 border-b rounded-md border-white bg-white py-2.5 px-3 text-base font-semibold focus:placeholder:text-white text-white focus:outline-none focus:ring-0 drop-shadow-2xl" placeholder="Tu email" />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-white font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75 ">Tu email</label>
          </div>
          <div class="relative z-0 col-span-2 mt-10">
            <textarea name="message" rows="5" class="peer block min-h-[100px]  w-full appearance-none border-0 border-b rounded-md border-white bg-white py-2.5 px-3 text-base font-semibold focus:placeholder:text-white text-white  focus:outline-none focus:ring-0 drop-shadow-2xl" placeholder="Tu mensaje"></textarea>
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-white font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75 ">Tu mensaje</label>
          </div>
        </div>
        <div class="flex justify-center">

          <button type="submit" class="mt-5  rounded-md bg-white px-14 py-2 text-primary-500 font-Blinker font-bold">Enviar mensaje</button>
        </div>
      </form>

      </div>
  </div>


  </div>
</section>