<section class="h-[400px] mt-24 mb-50 bg-primary-50">
  <div class="relative bg-primary-400 w-[100%] h-[100%] pt-10 rounded-b-[50%]">
    <p class="text-primary-50 text-center bg:text-[8vw]/[0] md:text-[4vw]/[0.3] 8xl:text-[2vw]/[0.5] font-Blinker font-black">
      ¡Animate a Contactarnos!
    </p>
    <hr class="my-6 border-primary-50 border-y-[2.2px] rounded w-[80%] mx-auto"/>

 
  </div>
  
</section>
