<section class="flex bg:flex-col md:flex-row mx-auto w-[96%]  my-[100px]">
                    <div class="w-[60%] max-w-[55%] text-start bg:w-[95%] bg:max-w-[95%] md:w-5/6 mx-auto pt-[8%]">
                     <p class="bg:text-center md:text-left text-primary-400 font-Blinker font-extralight bg:text-[6vw]/[0.9] md:text-[3.4vw]/[0.9] lg:text-[3vw]/[0.9] 8xl:text-[1.9vw]/[0.9]">Destinos Populares</p>
                     <p class="bg:text-center md:text-left text-primary-400 font-Blinker font-black bg:text-[8vw]/[0.9] md:text-[4vw]/[0.9] lg:text-[3.7vw]/[0.9]  8xl:text-[2vw]/[0.9]">Descrubre tu sitio ideal.</p>
                     <hr class="bg:mx-auto md:mx-0 bg:mt-[1%] 8xl:mt-[0.4%] border-primary-400 bg:border-y-[0.6vw] md:border-y-[0.3vw] 8xl:border-y-[0.2vw] rounded w-[20%] "/>
                     <p class="bg:mt-[3%] bg:text-center md:text-left md:mt-[2%] text-gray-400 font-Work font-medium bg:text-[4vw]/[0.9] md:text-[2.7vw]/[0.9]  lg:text-[1.7vw]/[0.9] 8xl:text-[1.8vw]/[0.9]">Explora una amplia variedad de destinos populares y descubre el sitio ideal que te transportará a una experiencia inigualable.</p>
                    </div>

                    <div class="md:w-[45%] md:max-w-[45%] bg:w-full bg:max-w-full justify-end">
                     <img src="Wire2.png"class="z-40"/>

                    </div>
                 
                 </section>