<section class="my-40 mx-auto h-[400px]">
                    <div class="text-start bg:w-[93%] md:w-5/6 mx-auto">
                     <p class="text-primary-400 font-Blinker font-light bg:text-[5vw]/[0.9] md:text-[2vw]/[0.9] 8xl:text-[1vw]/[0.9]">Destinos Populares</p>
                     <p class="text-primary-400 font-Blinker font-black bg:text-[7vw]/[0.9] md:text-[2.6vw]/[0.9] 8xl:text-[1vw]/[0.9]">Descrubre tu sitio ideal.</p>
                     <hr class="bg:mt-[1%] 8xl:mt-[0.4%] border-primary-400 bg:border-y-[0.6vw] md:border-y-[0.3vw] 8xl:border-y-[0.2vw] rounded w-[20%] "/>
                    </div>
                 
                 </section>