<!-- Aquí empieza el componente "destinos-populares" -->
<section class="flex bg:flex-col md:flex-row mx-auto w-[96%] my-[10%]">
  <!-- Contenedor del texto -->
  <div
    class="w-[60%] max-w-[55%] text-start bg:w-[95%] bg:max-w-[95%] md:w-5/6 mx-auto pt-[8%]"
  >
    <!-- Título principal -->
    <p
      class="bg:text-center md:text-left text-primary-400 font-Blinker font-extralight bg:text-[6vw]/[0.9] md:text-[3.4vw]/[0.9] lg:text-[3vw]/[0.9] 8xl:text-[1.9vw]/[0.9]"
    >
      Destinos Populares
    </p>
    <!-- Título secundario -->
    <p
      class="bg:text-center md:text-left text-primary-400 font-Blinker font-black bg:text-[8vw]/[0.9] md:text-[4vw]/[0.9] lg:text-[3.7vw]/[0.9] 8xl:text-[2vw]/[0.9]"
    >
      Descubre tu sitio ideal.
    </p>
    <!-- Separador horizontal -->
    <hr
      class="bg:mx-auto md:mx-0 bg:mt-[1%] 8xl:mt-[0.4%] border-primary-400 bg:border-y-[0.6vw] md:border-y-[0.3vw] 8xl:border-y-[0.2vw] rounded w-[20%]"
    />
    <!-- Descripción -->
    <p
      class="bg:w-full md:w-[85%] bg:mt-[3%] bg:text-center md:text-left md:mt-[2%] text-gray-400 font-Work font-medium bg:text-[4vw]/[0.9] md:text-[2.7vw]/[0.9] lg:text-[1.7vw]/[0.9] 8xl:text-[1.8vw]/[0.9] mb-[7%]"
    >
      Explora una amplia variedad de destinos populares y descubre el sitio
      ideal que te transportará a una experiencia inigualable.
    </p>
  </div>

  <!-- Contenedor de imágenes -->
  <div class="relative md:w-[45%] md:max-w-[25%] bg:w-full bg:max-w-full">
    <div class="relatives justify-center">
      <!-- Imagen principal -->
      <div class="flex bg:justify-center md:justify-start">
        <img src="Wire2.webp" class="w-[90%] z-40" loading="lazy" />
      </div>
      <!-- Primer fondo SVG -->
      <div class="flex bg:justify-center md:justify-start">
        <svg
          viewBox="0 0 760 638"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute top-[44%] w-[90%] text-center -z-40"
        >
          <path
            d="M0 547.424V90.5C0 40.7944 40.2944 0.5 90 0.5H670C719.706 0.5 760 40.7944 760 90.5V474.208C760 519.555 726.262 557.82 681.272 563.499L101.272 636.716C47.5196 643.501 0 601.603 0 547.424Z"
            fill="#9CD480"></path>
        </svg>
      </div>
      <!-- Segundo fondo SVG -->
      <div class="flex bg:justify-center md:justify-start">
        <svg
          class="absolute top-[10%] right-[10%] w-[140%] -z-50"
          viewBox="0 0 944 764"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 7H132.099C251.878 7 276.15 176.447 161.187 210.071V210.071C70.4194 236.619 59.7353 360.903 144.64 402.552L222 440.5V440.5C278.006 459.794 338.447 426.619 352.244 369.013L375.307 272.722C386.418 226.331 414.556 185.809 454.141 159.19L474.246 145.67C499.001 129.023 526.511 116.898 555.5 109.858L639.376 89.488C761.45 59.841 885.829 128.909 925.195 248.204L930.321 263.739C934.969 277.822 937.337 292.558 937.337 307.389V307.389C937.337 353.316 912.801 394.473 879.166 425.745C796.059 503.011 933.966 482.985 911.789 510.611C879.648 550.652 817.838 715.962 781.988 715.962C746.138 715.962 613.041 715.962 587.493 715.962V715.962C410.645 715.962 249.221 594.958 132.779 728.06C122.74 739.535 114.426 750.536 108.5 760.502"
            stroke="#39A900"
            stroke-opacity="0.2"
            stroke-width="13"
            stroke-dasharray="26 26"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
<!-- Aquí termina el componente "destinos-populares" -->
