<!-- Aquí empieza el componente "explorar" -->
<section class="relative mx-auto w-[96%] mb-[20%] mt-[10%]">
  <!-- Contenedor del texto -->
  <div class="text-center bg:w-[93%] md:w-5/6 mx-auto">
    <!-- Título principal -->
    <p
      class="text-primary-400 font-Blinker font-extralight bg:text-[6vw]/[0.9] md:text-[3vw]/[0.9] 8xl:text-[1vw]/[0.9]"
    >
      Explora
    </p>
    <!-- Descripción -->
    <p
      class="text-primary-400 font-Blinker font-black bg:text-[7vw]/[0.9] md:text-[3.2vw]/[0.9] 8xl:text-[1vw]/[0.9]"
    >
      Conoce los municipios más representativos llenos de encanto, historia y
      belleza natural.
    </p>
    <!-- Separador horizontal -->
    <hr
      class="bg:mt-[1%] 8xl:mt-[0.4%] border-primary-400 bg:border-y-[0.6vw] md:border-y-[0.3vw] 8xl:border-y-[0.2vw] rounded w-[20%] mx-auto mb-[5%]"
    />
  </div>

  <!-- Contenedor de imágenes -->
  <div class="grid grid-rows-2 grid-flow-col gap-4 ml-[4%]">
    <!-- Imagen de fondo 1 (Huila.svg) -->
    <img
      src="Huila.svg"
      alt="Huila"
      class="hidden md:block absolute top-[-20%] -z-50 w-[95%] opacity-40"
    />
    <!-- Imagen 2 (Garzon.webp) -->
    <div class="flex md:justify-left">
      <img
        src="Garzon.webp"
        class="md:w-[30%] md:-rotate-12"
        alt="garzon"
        loading="lazy"
      />
    </div>
    <!-- Imagen 3 (Tarqui.webp) -->
    <div class="flex md:justify-end">
      <img
        src="Tarqui.webp"
        class="md:w-[30%] md:-rotate-12"
        alt="tarqui"
        loading="lazy"
      />
    </div>
    <!-- Imagen 4 (Gigante.webp) -->
    <div class="flex md:justify-start">
      <img
        src="Gigante.webp"
        class="md:w-[30%] md:rotate-12"
        alt="gigante"
        loading="lazy"
      />
    </div>
    <!-- Imagen 5 (Altamira.webp) -->
    <div class="flex md:justify-end">
      <img
        src="Altamira.webp"
        class="md:w-[30%] md:rotate-12"
        alt="altamira"
        loading="lazy"
      />
    </div>

    <!-- Fondo SVG (Líneas curvas) -->
    <svg
      class="hidden md:block absolute md:top-[25%] w-[90%] -z-50"
      stroke-opacity="0.4"
      viewBox="0 0 1331 719"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="overflow-hidden"
        d="..."
        stroke="#39A900"
        stroke-width="13"
        stroke-dasharray="26 26"></path>
    </svg>
  </div>
</section>
<!-- Aquí termina el componente "explorar" -->
