<section class="relative mx-auto w-[96%]  mb-[20%] mt-[10%]">
   <div class="text-center bg:w-[93%] md:w-5/6 mx-auto">
    <p class="text-primary-400 font-Blinker font-extralight bg:text-[6vw]/[0.9] md:text-[3vw]/[0.9] 8xl:text-[1vw]/[0.9]">Explora</p>
    <p class="text-primary-400 font-Blinker font-black bg:text-[7vw]/[0.9] md:text-[3.2vw]/[0.9] 8xl:text-[1vw]/[0.9]">Conoce los municipios más representativos llenos de encanto, historia y belleza natural.</p>
    <hr class="bg:mt-[1%] 8xl:mt-[0.4%] border-primary-400 bg:border-y-[0.6vw] md:border-y-[0.3vw] 8xl:border-y-[0.2vw] rounded w-[20%] mx-auto mb-[5%]"/>
   </div>

   <div class="grid grid-rows-2 grid-flow-col gap-4 ml-[4%]">
      <img src="Huila.svg"  alt="Huila" class = "hidden md:block absolute top-[-20%] -z-50 w-[95%] opacity-40">
      <div class="flex md:justify-left ">
         <img src="Garzon.webp" class="md:w-[30%] md:-rotate-12" alt="garzon" loading="lazy"/>
         
      </div>
      <div class="flex md:justify-end">
   
         <img src="Tarqui.webp" class="md:w-[30%] md:-rotate-12" alt="tarqui" loading="lazy"/>

      </div>
      <div class="flex md:justify-start">

         <img src="Gigante.webp" class="md:w-[30%] md:rotate-12" alt="gigante" loading="lazy"/>

      </div>
      <div class="flex md:justify-end ">

         <img src="Altamira.webp" class="md:w-[30%] md:rotate-12" alt="altamira" loading="lazy"/>

      </div>

   
   <svg class="hidden md:block absolute md:top-[25%] w-[90%] -z-50 " stroke-opacity="0.4" viewBox="0 0 1331 719" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="overflow-hidden" d="M10.298 81.2623L74.1452 21.0379C83.9273 11.8109 96.8661 6.67139 110.313 6.67139V6.67139C132.839 6.67139 152.875 20.9854 160.177 42.2945L171.491 75.3108C182.666 107.921 209.618 132.637 243.072 140.951L362.508 170.636C444.056 190.904 530.274 179.065 603.34 137.565L702.469 81.2623L789.243 34.2479C822.646 16.1498 860.037 6.67139 898.029 6.67139H971.437C1008.63 6.67139 1042.92 26.7372 1061.14 59.1565V59.1565C1069.3 73.6765 1080.86 85.9986 1094.84 95.0643L1225.02 179.531C1292.72 223.451 1359.65 312.872 1302.7 370.036V370.036C1265.54 407.331 1194.09 561.308 1152.64 561.308C1111.2 561.308 957.328 561.308 927.793 561.308C921.843 561.308 906.803 556.374 886.345 548.371C730.37 487.351 518.488 347.167 419.026 481.922V481.922C372.151 545.431 307.714 629.861 281.354 664.137V664.137C209.79 734.172 90.9716 728.91 38.7887 643.451C14.6094 603.853 0.113422 571.018 10.298 561.308C39.3568 533.603 106.525 481.922 147.97 481.922C150.141 481.922 152.205 482.149 154.168 482.581C209.827 494.82 159.357 579.129 110.337 608.194V608.194" stroke="#39A900" stroke-width="13" stroke-dasharray="26 26"/>
      </svg>

      
   </div>

   
      

</section>