<!-- Aquí empieza el componente "explorar" -->
<section class="relative mx-auto bg:w-full xl:w-[1280px] mt-20 bg:mb-28 md:mb-80 ">
  <!-- Contenedor del texto -->
  <div class="text-center bg:w-[93%] md:w-5/6 mx-auto">
    <!-- Título principal -->
    <p
      class="text-primary-400 font-Blinker font-extralight md:text-2xl/[0.8] lg:text-3xl/[0.8] xl:text-4xl/[0.9] xs1:text-3xl/[0.8] sm:text-2xl/[0.9] "
    >
      Explora
    </p>
    <!-- Descripción -->
    <p
      class="bg:text-2xl/[0.9]  md:text-3xl/[0.8] lg:text-4xl/[0.8] xl:text-5xl/[0.9]  xs1:text-4xl/[0.8] sm:text-3xl/[0.9]  text-primary-500 font-Blinker font-black "
    >
      Conoce los municipios más representativos llenos de encanto, historia y
      belleza natural.
    </p>
    <!-- Separador horizontal -->
    <hr
      class="bg:mt-[1%] 8xl:mt-[0.4%] border-primary-400 bg:border-y-[0.6vw] md:border-y-[0.3vw] 8xl:border-y-[0.2vw] rounded w-[20%] mx-auto mb-4"
    />
  </div>

  <!-- Contenedor de imágenes -->
  <div class="grid grid-rows-2 grid-flow-col gap-4 mx-4 mt-20">
    <!-- Imagen de fondo 1 (Huila.svg) -->
    <img  width="300" height="300"
      src="Huila.svg"
      alt="Huila"
      class="hidden md:block absolute top-[-20%] -z-50 w-[95%] opacity-40"
    />
    <!-- Imagen 2 (Garzon.webp) -->
    <div class="flex md:justify-left bg:-rotate-12">
      <img  width="300" height="300"
        src="Garzon.webp"
        class="md:w-40 md:-rotate-12"
        alt="garzon"
        loading="lazy"
      />
    </div>
    <!-- Imagen 3 (Tarqui.webp) -->
    <div class="flex md:justify-end bg:-rotate-12">
      <img  width="300" height="300"
        src="Tarqui.webp"
        class="md:w-40 md:-rotate-12"
        alt="tarqui"
        loading="lazy"
      />
    </div>
    <!-- Imagen 4 (Gigante.webp) -->
    <div class="flex md:justify-start bg:rotate-12">
      <img  width="300" height="300"
        src="Gigante.webp"
        class="md:w-40 md:rotate-12"
        alt="gigante"
        loading="lazy"
      />
    </div>
    <!-- Imagen 5 (Altamira.webp) -->
    <div class="flex md:justify-end bg:rotate-12">
      <img  width="300" height="300"
        src="Altamira.webp"
        class="md:w-40 md:rotate-12"
        alt="altamira"
        loading="lazy"
      />
    </div>

    <!-- Fondo SVG (Líneas curvas) -->
    <svg
      class="hidden md:block absolute md:top-[25%] w-[90%] -z-50"
      stroke-opacity="0.4"
      viewBox="0 0 1331 719"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="overflow-hidden"
        d="M10.298 81.2623L74.1452 21.0379C83.9273 11.8109 96.8661 6.67139 110.313 6.67139V6.67139C132.839 6.67139 152.875 20.9854 160.177 42.2945L171.491 75.3108C182.666 107.921 209.618 132.637 243.072 140.951L362.508 170.636C444.056 190.904 530.274 179.065 603.34 137.565L702.469 81.2623L789.243 34.2479C822.646 16.1498 860.037 6.67139 898.029 6.67139H971.437C1008.63 6.67139 1042.92 26.7372 1061.14 59.1565V59.1565C1069.3 73.6765 1080.86 85.9986 1094.84 95.0643L1225.02 179.531C1292.72 223.451 1359.65 312.872 1302.7 370.036V370.036C1265.54 407.331 1194.09 561.308 1152.64 561.308C1111.2 561.308 957.328 561.308 927.793 561.308C921.843 561.308 906.803 556.374 886.345 548.371C730.37 487.351 518.488 347.167 419.026 481.922V481.922C372.151 545.431 307.714 629.861 281.354 664.137V664.137C209.79 734.172 90.9716 728.91 38.7887 643.451C14.6094 603.853 0.113422 571.018 10.298 561.308C39.3568 533.603 106.525 481.922 147.97 481.922C150.141 481.922 152.205 482.149 154.168 482.581C209.827 494.82 159.357 579.129 110.337 608.194V608.194"
        stroke="#39A900"
        stroke-width="13"
        stroke-dasharray="26 26"></path>
    </svg>
  </div>
</section>
<!-- Aquí termina el componente "explorar" -->
