@font-face {
    font-family: "Blinker";
    src: url("/src/Fonts/Blinker/Blinker\ Black.woff");
    font-weight: black;
    font-style: normal;
    font-display:swap
}


@font-face {
    font-family: "Josefin";
    src: url("/src/Fonts/Josefin_Sans/JosefinSans-Regular.woff");
    font-weight: normal;
    font-style: normal;
    font-display:swap
}
