---
import Layout from '../layouts/Layout.astro'
import Header from '../components/landing/Header.astro'
import Banner from "../components/landing/Banner.astro"
import Footer from "../components/landing/Footer.astro"
import SContactanos from "../components/landing/sContactanos.astro"
import SExplora from '../components/landing/sExplora.astro'
import SDestinosPopulares from '../components/landing/sDestinosPopulares.astro'
---


<Layout title="Conoce CenturHuila">

                      <Header/>
                      <Banner/>
                      <SExplora/>
                      <SDestinosPopulares/>
                      <SContactanos/>
                      <Footer/>
                      <a href="https://api.whatsapp.com/send?phone=573126371355&text=Hola quiero más información sobre TurismoHuila!" class="fixed w-[60px] h-[60px] bg:bottom-[20px] sm:bottom-[70px] xl:bottom-[30px]  right-[10px] bg-[#25d366] text-white rounded-full text-center font-bold text-[40px] z-50" target="_blank">
                                        <i class="fa fa-whatsapp my-float"></i>
                                        </a>
</Layout>

