---

---

<div
  class="relative flex flex-row gap-0 justify-center text-center md:text-left bg:flex-col bg-[#9CD480] mx-2 rounded-3xl md:flex-row  bg:px-5 xs2:px-16 md:px-6 md1:px-20 overflow-hidden py-10"
>
  <div
    class="relative flex flex-col md:flex-row bg:w-full xl:w-[1280px] mx-auto z-40"
  >
    <article class="w-full flex flex-col   my-auto mx-auto">
      <!--Aqui va la sección del titulo principal-->
   
        <h3
          class="font-Blinker mx-5 md:mx-0 text-4xl/[0.8] md:text-5xl/[0.8] xl:text-7xl/[0.8] text-white font-bold mb-5"
        >
          ¡Pertenece a la <strong class="text-lime-800">mejor plataforma</strong
          > de turismo del Huila hoy mismo!
        </h3>

      <!--Aqui termina la sección del titulo principal-->
      <!--Aqui el parrafo descriptivo del titulo principal-->

        <p
          class=" text-white mx-auto md:mx-0  w-[300px] sm:w-[450px] lg:w-[600px] font-Josefin font-normal leading-none text-xl"
          >Descubre el encanto del Huila con nuestra app de turismo. Descárgala
          gratis y disfruta de guías, recomendaciones y actividades
          emocionantes. Sin costos ni condiciones, aumenta tu visibilidad y
          reconocimiento con CenturHuila. ¡Descárgala ahora y vive experiencias
          inolvidables en el Huila!</p
        >
   
      <!--Aqui el parrafo descriptivo del titulo principal-->
      <!--Aqui va las dos insignias de descarga (Play store & AppStore)-->
      <section
        class="flex flex-row  justify-center md:justify-start  px-5 md:px-0  mt-5"
      >
        <a
          href="https://play.google.com/store/apps/details?id=com.ycjn.centurhuila&hl=es_CO&gl=US"
          target="_blank"
        >
          <img
            width="200rem"
            height="200rem"
           
            src="GooglePlay.svg"
            loading="lazy"
            alt="Descargar en Google Play"
          />
        </a>
        <div class="mx-2"></div>
        <a
          href="https://apps.apple.com/co/app/centurhuila-3-0/id1598598341"
          target="_blank"
        >
          <img
          width="200rem"
          height="200rem"
            src="Ios.svg"
            loading="lazy"
            alt="Descargar en App Store"
          />
        </a>
      </section>
      <!--Aqui termina las dos insignias de descarga (Play store & AppStore)-->
    </article>
    <!--Aqui termina el articulo que ocupa el 70% del ancho-->

    <!--Aqui va el telefonocroma con la captura de pantalla y el articulo que ocupa el 30% del ancho-->
    <article
      class="flex content-center justify-center bg:-rotate-6 md:rotate-0 md:min-w-[28%] mx-auto"
    >
      <img
        class="w-96"
        width="200rem"
        height="200rem"
        src="Wire.webp"
    
        alt="Mockup1"
      />
    </article>
  </div>
  <!--Aqui va el articulo que ocupa el 70% del ancho-->
  <!--Aqui termina el telefonocroma con la captura de pantalla y el articulo que ocupa el 30% del ancho-->

  <!--Aqui va el svg horizontal para pantallas que no son de mobiles-->

  <!--Aqui termina el svg horizontal para pantallas que no son de mobiles-->

  <!--Aqui va el svg vertical para pantallas mobiles-->
  <div class="flex flex-col md:flex-row my-auto -z-0">
    


        <!--SVG1 -->

<svg  width="2000px"  class="absolute w-[800px] xl:w-[2000px]  bottom-1 right-0 opacity-75 stroke-[15px] stroke-[#65A30D]" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 1235.9 566.6" style="enable-background:new 0 0 1235.9 566.6;" xml:space="preserve">

<g class="st0">
<path class="st1" d="M1139.3,112.9c2.2,11.7,3.8,22.7,4.8,32.8"/>
<path class="st1" d="M1143.2,180.9c-1.8,8.2-5.2,14.2-10.6,17.2c-5.1,2.9-11.1,2.6-17.7,0.1"/>
<path class="st1" d="M1088.5,182.8c-12.7-9-26.5-19.3-40.3-25.6"/>
<path class="st1" d="M1016.7,152.5c-1,0.2-1.9,0.5-2.9,0.9c-7.6,2.7-13.4,7.6-18,14.3"/>
<path class="st1" d="M985.9,189.2c-1.8,5.8-3.3,11.9-4.6,18.3"/>
<path class="st1" d="M977.6,227.4c-1.4,8.4-2.8,16.9-4.5,24.9"/>
<path class="st1" d="M963.8,282.3c-4,8.3-9.3,14.9-16.5,18.7"/>
<path class="st1" d="M917.6,302c-9.4-3.1-19.6-8.7-30-16.1"/>
<path class="st1" d="M863.5,267c-10.6-9.1-21.5-19.3-32.2-29.4"/>
<path class="st1" d="M802.4,210.4c-6.8-6.1-13.5-12.1-19.9-17.5"/>
<path class="st1" d="M758.9,175.5c-9.5-5.8-18.1-9.5-26-10.2"/>
<path class="st1" d="M711.2,176.6c-2.7,5.7-3.6,13.6-6.5,23.9"/>
<path class="st1" d="M696,223.4c-2,4.2-4.4,8.5-7.2,13.2c-0.9,1.4-1.8,2.9-2.7,4.3"/>
<path class="st1" d="M670.9,261.1c-6,6.9-12.5,13.5-19.5,19.6"/>
<path class="st1" d="M625.6,299.4c-11.7,6.8-24.1,12.1-37,15.1"/>
<path class="st1" d="M545.7,315c-8.8-2.2-18.4-5.8-30.9-10.8"/>
<path class="st1" d="M489.8,294.1c-8.8-3.4-17.2-6.8-25.3-10"/>
<path class="st1" d="M434,272.3c-15.1-5.8-28.8-10.9-41.5-15.3"/>
<path class="st1" d="M340.6,241.7c-14.3-3.1-26.7-4.3-37.8-3.7"/>
<path class="st1" d="M265.4,249.1c-7.3,3.8-14.5,8.4-21.3,13.5"/>
<path class="st1" d="M218.3,287.2c-7.1,8.6-13.1,17.9-17.4,27.5"/>
<path class="st1" d="M193.6,339.1c-0.4,2.9-0.6,5.7-0.7,8.5c-0.1,4.6,0.3,9.2,1,13.6"/>
<path class="st1" d="M196.8,374.3c2.7,9.9,6.3,19.7,8.7,29.6"/>
<path class="st1" d="M207.9,427.3c-0.3,6.5-1.7,13.4-4.7,20.6c-0.6,1.5-1.3,2.9-1.9,4.2"/>
<path class="st1" d="M188.3,470.9c-1.4,1.5-2.6,2.6-3.5,3.5c-6.5,6.2-13.5,10.8-20.7,14.3"/>
<path class="st1" d="M142.3,496c-24.1,5.1-45.8,0.8-50.5-0.1"/>
</g>
</svg>

<!--SVG1 -->


<!--SVG2 -->

<svg   width="2000px"  class="absolute w-[800px] xl:w-[2000px]  bottom-1 left-0 rotate-45 opacity-75 stroke-[15px] stroke-[#65A30D]" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 1235.9 566.6" style="enable-background:new 0 0 1235.9 566.6;" xml:space="preserve">

<g class="st0">
<path class="st1" d="M1139.3,112.9c2.2,11.7,3.8,22.7,4.8,32.8"/>
<path class="st1" d="M1143.2,180.9c-1.8,8.2-5.2,14.2-10.6,17.2c-5.1,2.9-11.1,2.6-17.7,0.1"/>
<path class="st1" d="M1088.5,182.8c-12.7-9-26.5-19.3-40.3-25.6"/>
<path class="st1" d="M1016.7,152.5c-1,0.2-1.9,0.5-2.9,0.9c-7.6,2.7-13.4,7.6-18,14.3"/>
<path class="st1" d="M985.9,189.2c-1.8,5.8-3.3,11.9-4.6,18.3"/>
<path class="st1" d="M977.6,227.4c-1.4,8.4-2.8,16.9-4.5,24.9"/>
<path class="st1" d="M963.8,282.3c-4,8.3-9.3,14.9-16.5,18.7"/>
<path class="st1" d="M917.6,302c-9.4-3.1-19.6-8.7-30-16.1"/>
<path class="st1" d="M863.5,267c-10.6-9.1-21.5-19.3-32.2-29.4"/>
<path class="st1" d="M802.4,210.4c-6.8-6.1-13.5-12.1-19.9-17.5"/>
<path class="st1" d="M758.9,175.5c-9.5-5.8-18.1-9.5-26-10.2"/>
<path class="st1" d="M711.2,176.6c-2.7,5.7-3.6,13.6-6.5,23.9"/>
<path class="st1" d="M696,223.4c-2,4.2-4.4,8.5-7.2,13.2c-0.9,1.4-1.8,2.9-2.7,4.3"/>
<path class="st1" d="M670.9,261.1c-6,6.9-12.5,13.5-19.5,19.6"/>
<path class="st1" d="M625.6,299.4c-11.7,6.8-24.1,12.1-37,15.1"/>
<path class="st1" d="M545.7,315c-8.8-2.2-18.4-5.8-30.9-10.8"/>
<path class="st1" d="M489.8,294.1c-8.8-3.4-17.2-6.8-25.3-10"/>
<path class="st1" d="M434,272.3c-15.1-5.8-28.8-10.9-41.5-15.3"/>
<path class="st1" d="M340.6,241.7c-14.3-3.1-26.7-4.3-37.8-3.7"/>
<path class="st1" d="M265.4,249.1c-7.3,3.8-14.5,8.4-21.3,13.5"/>
<path class="st1" d="M218.3,287.2c-7.1,8.6-13.1,17.9-17.4,27.5"/>
<path class="st1" d="M193.6,339.1c-0.4,2.9-0.6,5.7-0.7,8.5c-0.1,4.6,0.3,9.2,1,13.6"/>
<path class="st1" d="M196.8,374.3c2.7,9.9,6.3,19.7,8.7,29.6"/>
<path class="st1" d="M207.9,427.3c-0.3,6.5-1.7,13.4-4.7,20.6c-0.6,1.5-1.3,2.9-1.9,4.2"/>
<path class="st1" d="M188.3,470.9c-1.4,1.5-2.6,2.6-3.5,3.5c-6.5,6.2-13.5,10.8-20.7,14.3"/>
<path class="st1" d="M142.3,496c-24.1,5.1-45.8,0.8-50.5-0.1"/>
</g>
</svg>

<!--SVG2 -->




  </div>

</div>
<!--Aqui termina el svg vertical para pantallas mobiles-->

<!--Aqui termina el banner principal-->
