---
import "../styles/Layout.css"
const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"  rel="stylesheet" />
                    <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@900&display=swap" rel="stylesheet">
                    <link rel="icon" href="/public/centurhuila.svg" type="image/x-icon">


                      <meta charset="UTF-8">
                      <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0 minimum-width=354">
                      <title>Centurhuila - {title}</title>
</head>
<body>
             
                    <main class="flex-grow">

                                        <slot/>
                    </main>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</body>
</html>